<main>
  <h1>{{ pageTitle }}</h1>
  <form action="/add-book" method="POST">
    <input type="text" name="bookTitle" id="bookTitle" />
    <button type="submit">Add New Book</button>
  </form>
  {{#if hasBooks}}
  <ul>
    {{#each books}}
    <li>{{ this.title }}</li>
    {{/each}}
  </ul>
  {{ else }}
  <p>No books in base!</p>
  {{/if}}
</main>