<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
</head>

<body>
  <h1>{{ pageTitle }}</h1>
  {{#if hasBooks}}
  <ul>
    {{#each books}}
    <li>{{ this.title }}</li>
    {{/each}}
  </ul>
  {{ else }}
  <p>No books in base!</p>
  {{/if}}
</body>

</html>